In [95]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit,when,expr,substring,lower,sum,to_date,month,year,count
from pyspark.sql.types import IntegerType, StringType, DateType
import re

In [2]:
cust_Schema = ('id int , age int, gender string, income float, education string, region string, loyalty_status string, purchase_frequency string, purchase_amount float , product_category string, promotion_usage int, satisfaction_score int')

In [3]:
spark = SparkSession.builder.appName('customer_puschases').master('local[2]').getOrCreate()

In [4]:
custdf = spark.read.format('csv')\
                   .option('header','true')\
                   .schema(cust_Schema)\
                   .load(r'C:\Users\kkafk\IdeaProjects\pycode\scenario based\customer_data.csv')

In [5]:
custdf.show()

+---+---+------+-------+----------+------+--------------+------------------+---------------+----------------+---------------+------------------+
| id|age|gender| income| education|region|loyalty_status|purchase_frequency|purchase_amount|product_category|promotion_usage|satisfaction_score|
+---+---+------+-------+----------+------+--------------+------------------+---------------+----------------+---------------+------------------+
|  1| 27|  Male|40682.0|  Bachelor|  East|          Gold|          frequent|        18249.0|           Books|              0|                 6|
|  2| 29|  Male|15317.0|   Masters|  West|       Regular|              rare|         4557.0|        Clothing|              1|                 6|
|  3| 37|  Male|38849.0|  Bachelor|  West|        Silver|              rare|        11822.0|        Clothing|              0|                 6|
|  4| 30|  Male|11568.0|HighSchool| South|       Regular|          frequent|         4098.0|            Food|              0|                 7|
|  5| 31|Female|46952.0|   College| North|       Regular|        occasional|        19685.0|        Clothing|              1|                 5|
|  6| 38|  Male| 7347.0|  Bachelor| South|        Silver|        occasional|         2822.0|     Electronics|              0|                 5|
|  7| 32|Female| 8265.0|  Bachelor| South|        Silver|          frequent|         3293.0|        Clothing|              0|                 7|
|  8| 24|Female|47773.0|HighSchool| North|       Regular|              rare|        21794.0|           Books|              0|                 5|
|  9| 27|  Male|19154.0|   College|  East|       Regular|        occasional|         5819.0|        Clothing|              0|                 5|
| 10| 28|Female|24666.0|HighSchool| North|       Regular|              rare|         8779.0|            Food|              0|                 6|
| 11| 35|  Male|43896.0|HighSchool| South|       Regular|              rare|        16158.0|            Home|              1|                 6|
| 12| 32|Female|40044.0|      NULL| North|        Silver|              rare|        13608.0|     Electronics|              0|                 5|
| 13| 32|  Male| 6735.0|   College|  East|        Silver|        occasional|         2450.0|        Clothing|              1|                 5|
| 14| 30|Female|19034.0|  Bachelor|  East|       Regular|        occasional|         5579.0|           Books|              1|                 5|
| 15| 28|  Male|35748.0|  Bachelor| North|        Silver|              rare|        12901.0|           Books|              1|                 3|
| 16| 38|Female|26282.0|   College|  West|        Silver|              rare|         9644.0|        Clothing|              0|                 7|
| 17| 32|  Male|49088.0|  Bachelor| South|       Regular|              rare|        21329.0|        Clothing|              0|                 5|
| 18| 21|Female|20163.0|   College|  West|       Regular|              rare|         7612.0|            Food|              0|                 3|
| 19| 33|Female|10660.0|  Bachelor|  West|       Regular|              rare|         3129.0|        Clothing|              0|                 6|
| 20| 28|  Male|40725.0|HighSchool|  East|       Regular|              rare|        12764.0|     Electronics|              1|                 6|
+---+---+------+-------+----------+------+--------------+------------------+---------------+----------------+---------------+------------------+
only showing top 20 rows

COL ,WHEN , LIT usecases

In [6]:
custdf.select('*').filter("education == 'NULL'").show()

+---+---+------+-------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+
| id|age|gender| income|education|region|loyalty_status|purchase_frequency|purchase_amount|product_category|promotion_usage|satisfaction_score|
+---+---+------+-------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+
| 12| 32|Female|40044.0|     NULL| North|        Silver|              rare|        13608.0|     Electronics|              0|                 5|
| 27| 34|  Male|39287.0|     NULL| North|       Regular|        occasional|        11944.0|            Food|              0|                 6|
| 47| 28|  Male| 6755.0|     NULL| South|       Regular|        occasional|         2394.0|     Electronics|              0|                 6|
| 79| 31|Female|29452.0|     NULL|  West|       Regular|              rare|         9814.0|            Home|              0|                 5|
|195| 24|  Male|30470.0|     NULL|  West|          Gold|          frequent|        11964.0|     Electronics|              1|                 6|
|341| 33|  Male|46318.0|     NULL|  West|       Regular|        occasional|        16859.0|            Food|              0|                 6|
+---+---+------+-------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+

In [7]:
customer = custdf.distinct()
df = customer.withColumn("education", when(((col("income")>1.0) & (col("income")<100000.0)),lit("College")).otherwise(lit("Bachelors")))

In [8]:
df.filter("education == 'NULL'").show()

+---+---+------+------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+
| id|age|gender|income|education|region|loyalty_status|purchase_frequency|purchase_amount|product_category|promotion_usage|satisfaction_score|
+---+---+------+------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+
+---+---+------+------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+

Remove certain rows based on condition

In [9]:
df2 = df.filter("loyalty_status != 'Regular'").drop()

In [10]:
df2.select("*").filter("loyalty_status == 'Regular'").show()

+---+---+------+------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+
| id|age|gender|income|education|region|loyalty_status|purchase_frequency|purchase_amount|product_category|promotion_usage|satisfaction_score|
+---+---+------+------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+
+---+---+------+------+---------+------+--------------+------------------+---------------+----------------+---------------+------------------+

Substrings

In [11]:
subdf = custdf.withColumn("loyalty_subName", substring("loyalty_status",1,3))
subdf.show()

+---+---+------+-------+----------+------+--------------+------------------+---------------+----------------+---------------+------------------+---------------+
| id|age|gender| income| education|region|loyalty_status|purchase_frequency|purchase_amount|product_category|promotion_usage|satisfaction_score|loyalty_subName|
+---+---+------+-------+----------+------+--------------+------------------+---------------+----------------+---------------+------------------+---------------+
|  1| 27|  Male|40682.0|  Bachelor|  East|          Gold|          frequent|        18249.0|           Books|              0|                 6|            Gol|
|  2| 29|  Male|15317.0|   Masters|  West|       Regular|              rare|         4557.0|        Clothing|              1|                 6|            Reg|
|  3| 37|  Male|38849.0|  Bachelor|  West|        Silver|              rare|        11822.0|        Clothing|              0|                 6|            Sil|
|  4| 30|  Male|11568.0|HighSchool| South|       Regular|          frequent|         4098.0|            Food|              0|                 7|            Reg|
|  5| 31|Female|46952.0|   College| North|       Regular|        occasional|        19685.0|        Clothing|              1|                 5|            Reg|
|  6| 38|  Male| 7347.0|  Bachelor| South|        Silver|        occasional|         2822.0|     Electronics|              0|                 5|            Sil|
|  7| 32|Female| 8265.0|  Bachelor| South|        Silver|          frequent|         3293.0|        Clothing|              0|                 7|            Sil|
|  8| 24|Female|47773.0|HighSchool| North|       Regular|              rare|        21794.0|           Books|              0|                 5|            Reg|
|  9| 27|  Male|19154.0|   College|  East|       Regular|        occasional|         5819.0|        Clothing|              0|                 5|            Reg|
| 10| 28|Female|24666.0|HighSchool| North|       Regular|              rare|         8779.0|            Food|              0|                 6|            Reg|
| 11| 35|  Male|43896.0|HighSchool| South|       Regular|              rare|        16158.0|            Home|              1|                 6|            Reg|
| 12| 32|Female|40044.0|      NULL| North|        Silver|              rare|        13608.0|     Electronics|              0|                 5|            Sil|
| 13| 32|  Male| 6735.0|   College|  East|        Silver|        occasional|         2450.0|        Clothing|              1|                 5|            Sil|
| 14| 30|Female|19034.0|  Bachelor|  East|       Regular|        occasional|         5579.0|           Books|              1|                 5|            Reg|
| 15| 28|  Male|35748.0|  Bachelor| North|        Silver|              rare|        12901.0|           Books|              1|                 3|            Sil|
| 16| 38|Female|26282.0|   College|  West|        Silver|              rare|         9644.0|        Clothing|              0|                 7|            Sil|
| 17| 32|  Male|49088.0|  Bachelor| South|       Regular|              rare|        21329.0|        Clothing|              0|                 5|            Reg|
| 18| 21|Female|20163.0|   College|  West|       Regular|              rare|         7612.0|            Food|              0|                 3|            Reg|
| 19| 33|Female|10660.0|  Bachelor|  West|       Regular|              rare|         3129.0|        Clothing|              0|                 6|            Reg|
| 20| 28|  Male|40725.0|HighSchool|  East|       Regular|              rare|        12764.0|     Electronics|              1|                 6|            Reg|
+---+---+------+-------+----------+------+--------------+------------------+---------------+----------------+---------------+------------------+---------------+
only showing top 20 rows

You have a sales dataset with columns transaction_id, product_id, customer_id, date, and amount.

In [80]:
salesschema = "Row_ID int,OrderID string,OrderDate Date, ShipDate date,ShipMode string,CustomerID string,Customer_Name string,Segment string, Country string,City string,   State  string,PostalCode string,Region string,ProductID  string,Category  string,SubCategory  string,ProductName string,Sales float"

In [82]:
sales = spark.read.format('csv')\
                  .option("header","true")\
                  .option("dateFormat","dd/mm/yyyy")\
                  .schema(salesschema)\
                  .load(r'C:\Users\kkafk\IdeaProjects\pycode\scenario based\sales_dataset.csv')

sales.show(5)

+------+--------------+----------+----------+--------------+----------+---------------+---------+-------------+---------------+----------+----------+------+---------------+---------------+-----------+--------------------+--------+
|Row_ID|       OrderID| OrderDate|  ShipDate|      ShipMode|CustomerID|  Customer_Name|  Segment|      Country|           City|     State|PostalCode|Region|      ProductID|       Category|SubCategory|         ProductName|   Sales|
+------+--------------+----------+----------+--------------+----------+---------------+---------+-------------+---------------+----------+----------+------+---------------+---------------+-----------+--------------------+--------+
|     1|CA-2017-152156|2017-01-08|2017-01-11|  Second Class|  CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|     42420| South|FUR-BO-10001798|      Furniture|  Bookcases|Bush Somerset Col...|  261.96|
|     2|CA-2017-152156|2017-01-08|2017-01-11|  Second Class|  CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|     42420| South|FUR-CH-10000454|      Furniture|     Chairs|Hon Deluxe Fabric...|  731.94|
|     3|CA-2017-138688|2017-01-12|2017-01-16|  Second Class|  DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|     90036|  West|OFF-LA-10000240|Office Supplies|     Labels|Self-Adhesive Add...|   14.62|
|     4|US-2016-108966|2016-01-11|2016-01-18|Standard Class|  SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|     33311| South|FUR-TA-10000577|      Furniture|     Tables|Bretford CR4500 S...|957.5775|
|     5|US-2016-108966|2016-01-11|2016-01-18|Standard Class|  SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|     33311| South|OFF-ST-10000760|Office Supplies|    Storage|Eldon Fold 'N Rol...|  22.368|
+------+--------------+----------+----------+--------------+----------+---------------+---------+-------------+---------------+----------+----------+------+---------------+---------------+-----------+--------------------+--------+
only showing top 5 rows

In [84]:
salesdf = sales.toDF(*[column.replace(' ','') for column in sales.columns])

salesdf1 = sales.toDF(*([re.sub("[^a-zA-Z0-9]","",i) for i in sales.columns]))
salesdf1 = salesdf1.toDF(*[column.lower() for column in salesdf1.columns])


sdf = salesdf1.select("rowid","orderid","customerid","productid","orderdate","sales")
                     
sdf.show(2)

+-----+--------------+----------+---------------+----------+------+
|rowid|       orderid|customerid|      productid| orderdate| sales|
+-----+--------------+----------+---------------+----------+------+
|    1|CA-2017-152156|  CG-12520|FUR-BO-10001798|2017-01-08|261.96|
|    2|CA-2017-152156|  CG-12520|FUR-CH-10000454|2017-01-08|731.94|
+-----+--------------+----------+---------------+----------+------+
only showing top 2 rows

In [93]:
sdf.select("*").filter("productid == 'OFF-EN-10002600'").show()

+-----+--------------+----------+---------------+----------+-----+
|rowid|       orderid|customerid|      productid| orderdate|sales|
+-----+--------------+----------+---------------+----------+-----+
|  115|CA-2015-115259|  RC-19960|OFF-EN-10002600|2015-01-25| 4.72|
| 1007|CA-2016-105312|  MT-17815|OFF-EN-10002600|2016-01-06| 7.08|
| 1428|US-2016-164448|  DK-12835|OFF-EN-10002600|2016-01-31|14.75|
| 3872|CA-2016-132486|  JF-15355|OFF-EN-10002600|2016-01-23| 11.8|
| 5286|CA-2018-105991|  LH-17020|OFF-EN-10002600|2018-01-05|21.24|
| 6023|CA-2015-130869|  CB-12025|OFF-EN-10002600|2015-01-17| 7.08|
| 8296|CA-2017-166380|  EB-13750|OFF-EN-10002600|2017-01-30|26.55|
+-----+--------------+----------+---------------+----------+-----+

In [99]:
transactiondf = sdf.groupBy("productid").agg(sum("sales").alias("total_sales"))
# transactiondf.show()
transactiondf.select("*").sort("total_Sales" ,ascending = False).limit(5)

salesmonthly = sdf.withColumn("month",month("orderdate"))
salesmonthly.groupBy("month").agg(sum("sales").alias("monthlysales"))

df = sdf.groupBy("customerid").agg(count("productid").alias("products")).sort("products",ascending = False).limit(5)
df.show()

+----------+--------+
|customerid|products|
+----------+--------+
|  WB-21850|      35|
|  PP-18955|      34|
|  MA-17560|      34|
|  JL-15835|      33|
|  CK-12205|      32|
+----------+--------+